.inputfield {
    border-radius: 4px;
    width:200px;
    outline: none;
}
.add-todo, .clean-list, .clean-done_work{
    border-radius: 4px;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
}