ul {
    padding-left: 0px;
    display: inline-block;    
}

li {
    font-size: 20px;
    width: 100%;
    transition: background-color 2s ease-out;
}

li:hover {
    background-color: tomato;
    cursor: pointer;
}